.home-wrapper {

    .navigation-wrapper {
        height: 250px;
    }

    .fish-section {
        background-image: url(https://i.postimg.cc/5ynMkrW8/Cardinal-Rimless-Rainwater-Pic-cropped.jpg);
        padding: 100px;
        height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .top-heading {
            color: $primaryLight;
        }

        .bottom-heading {
            color: $secondaryLight;
        }
        }
    .features-section {
        height: 400px;
        background-image: url(https://i.postimg.cc/L8qMNvCZ/Micro-sword-cropped.jpg);
        background-color: $darkGreen;
        border-top: 10px solid white;
        color: $primaryDark;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu Condensed", sans-serif;
        background-size: 1200px;
        box-shadow: inset 0px -26px 79px -8px (0, green0, blue0, alpha0.58);

        .columns-wrapper {
            width: 1000px;
            display: flex;
            justify-content: space-between;

            .column {
                padding: 20px;
                margin: 42px;
                text-align: center;
                border-bottom: 5px solid transparent;
                border-radius: 10px;
                transition: 1s;

                a {
                    font-family: 'Ubuntu Condensed', sans-serif;
                    color: $primaryDark;
                    text-decoration: none;
                    transition: 0.5s;
    
                    &:hover {
                        color: $darkGreen;
                        letter-spacing: 2px;
                    }
                }

                &:hover {
                    border-bottom: 5px $primaryDark
                }

                &:nth-child(1) {
                    font-size: 3em;
                    
                }

                &:nth-child(2) {
                    font-size: 1.5em;
                    font-weight: 900;
                    height: 50px;
                    transition: 1s;

                    &:hover {
                        letter-spacing: 1px;
                    }
                }

                &:nth-child(3) {
                    letter-spacing: 2px;
                }
            }
        }
    }

    .map {
        width: 100%;
        height: "450";
        border: 0px;
    }
}