.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    
    input {
        width: 40vw;
        margin: 10px;
    }

    .btn {
        border: solid 8px white;
    }
}