@media (max-width: 615px) {
   

    .app-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .home-wrapper {

        .navigation-wrapper {
            flex-direction: column;
            align-items: center;
            height: 60vh;
            width: 87vw;
    
            .left-column {
                order: 2;
                margin-top: 10px;
                margin-bottom: 15px;
    
                .contact-hours-wrapper {
                    display: none;
                }
    
                .icon {
                    display: none;
                }
    
            }
    
            .center-column {
                order: 1;
                width: 100vw !important;
    
                .banner-image {
                    width: 80vw !important;
                    
                    img {
                        width: 60vw !important;
                        align-items: center;
                    }
                }
            }
    
            .right-column {
                order: 3;
                margin-top: 15px;
    
                .address-wrapper {
                    display: none;
                }
    
                .contact-icon {
                    display: none;
                }
            }
        }       

        .links-wrapper {
            margin-bottom: 20px;
            height: 20px;
            width: 40vw !important;
            align-items: flex-start;
            margin-right: 40px;

            .nav-link {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 1.5em;
                width: 50%;
                margin-left: 2px;
                margin-right: 2px;
    
    
                a {
                    width: 20vw;
                    font-size: 20px;
                }
            }
            
        }

        .fish-section {
            padding: 50px 10px;
            width: 85vw;

            .top-heading {

                h1 {
                    display: none;
                }
            }

            .bottom-heading {

                h1 {
                    display: none;
                }
            }
        }

        .features-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 85vw;

            .columns-wrapper {
                margin: 0px;
                justify-content: none;
                width: 20vw;

                .column {
                    margin: 2px !important;

                    &:nth-child(1) {
                        font-size: 18px !important;
                    }
                }

            }

        }
        
    }   
    
    .map {
        width: 85vw;
    }
    
    .footer {
        height: 25%;

        .links-wrapper {
            margin-right: 180px;
        }

        .social-media-icons-wrapper {
            margin-top: 15px;
        }
    }

    .skewed-header {

        .skewed-header-wrapper {

            .skewed-header-content {
                flex-direction: column;
                width: 95vw;

                .links-wrapper {
                    justify-content: space-around;
                    width: 80vw;

                    .nav-link {

                        a {
                            margin-left: -100px;
                        }
                    }
                }
            }
        }

        .header-bg {
            background-size: 550px;
        }
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;

        .content-wrapper {

            #BigBlueTank {
                margin: 0px 0px 25px 0px;
                width: 100%;
            }
        }
    }

    .square {
        grid-template-columns: 1fr !important;

        .square-text-wrapper {
            order: 1;
        }

        .img-wrapper {
            order: 2;
        }
    }

    .contact-grid-wrapper {
        flex-direction: column;
        width: 100vw !important;
        grid-template-columns: 1fr !important;
        grid-gap: 10px !important;

        .logo {
            width: 90vw;
        }
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }

    .app-wrapper {
        padding-left: 21px;
        padding-right: 21px;
        width: 100%;
    }

    .btn {
        z-index: 99;
    }

    .logo {
        height: 75px;
        width: 100vw;
        align-items: flex-start;
    }
}