@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 20%;
        width: 100vw;

        .left-column {
            order: 2;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .center-column {
            order: 1;
            width: 100vw;

            img {
                width: 80vw;
            }
        }

        .right-column {
            order: 3;
            margin-top: 15px;
        }
    }

    .links-wrapper {
        margin-bottom: 20px;
        height: 20px;
        width: 75vw;

        .nav-link {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1.5em;
            width: 50%;
            margin-left: 2px;
            margin-right: 2px;


            a {
                width: 20vw;
                font-size: 20px;
            }
        }
    }

    .fish-section {
        padding: 50px 10px;

        .top-heading {

            h1 {
                display: none;
            }
        }

        .bottom-heading {

            h1 {
                display: none;
            }
        }

        .features-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            
        }
    }
    
    .footer {
        height: 25%;
    }

    .skewed-header {

        .skewed-header-wrapper {

            .skewed-header-content {
                flex-direction: column;
            }
        }

        .header-bg {
            background-size: 550px;
        }
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;

        .content-wrapper {

            #BigBlueTank {
                margin: 0px 0px 25px 0px;
                width: 100%;
            }
        }
    }

    .square {
        grid-template-columns: 1fr !important;

        .square-text-wrapper {
            order: 1;
        }

        .img-wrapper {
            order: 2;
        }
    }

    .contact-grid-wrapper {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .form input {
        padding: 1.5rem 0rem;
    }

    .form textarea {
        padding: 1.5rem 0rem;
    }

    .app-wrapper {
        padding-left: 21px;
        padding-right: 21px;
        width: 100%;
    }

    .btn {
        z-index: 99;
    }

    .logo {
        height: 75px;
        width: 100vw;
        align-items: flex-start;
    }
}