.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .signup-form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        margin-bottom: 100px;
        
        input {
            width: 40vw;
            margin: 10px;
        }
    }
}
