.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;

    .header-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        transform: skewY(-12deg);
        transform-origin: top left;
        filter: brightness(50%);
    }

    .skewed-header-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;

        .skewed-header-content {
            width: 1000px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .heading-wrapper {
                background-color: $primaryDark;
                color: $secondaryDark;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                width: 175px;
                padding: 10px;
                text-align: center;

                .links-wrapper {

                    .nav-link {
                    font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
