// $primaryDark: #3880e7;
// $primaryLight: #02fffd;
// $secondaryDark: #b80906;
// $secondaryLight: #c9551c;
// $darkGreen: #285316;
// $lightGreen: #61a223;
// $darkBrown: #323b26;
// $lightBrown: #92764d;

$primaryDark: #196aff;
$primaryLight: #02fffd;
$secondaryDark: #ff0700;
$secondaryLight: #c9551c;
$darkGreen: #285316;
$lightGreen: #00ff11;
$darkBrown: #323b26;
$lightBrown: #92764d;